.App {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
}

.flex {
  display: flex;
}

.flex_col {
  flex-direction: column;
}

.flex_row {
  flex-direction: row;
}

.sorting {
  width: 60vw;
  margin-left: 20vw;
}

.header {
  align-items: center;
  justify-content: center;
  font-weight: 800;
}

.header span,
.t_data span {
  flex: 1;
}

.t_data {
  align-items: center;
  justify-content: center;
}

.filter p {
  margin-right: 50px;
}